<footer class="footer">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">

        <div class="row">
            <div class="col-md-4">
                <h3 class="">Contact me</h3>
                <ul class="contact-list">
                    <li class="p-name">
                        {%- if site.author -%}
                        {{ site.author | escape }}
                        {%- endif -%}
                    </li>
                    {%- if site.email -%}
                    <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                    {%- endif -%}
                </ul>
            </div>

            <div class="col-md-4">
                {%- include social.html -%}
            </div>

            <div class="col-md-4">
                <p>{{- site.description | escape -}}</p>
            </div>
        </div>
    </div>
</footer>